@import url(./font.css);
:root{
    --primaryColor-100:#d3ffff;
    --primaryColor-200:#8AD0F2;
    --primaryColor-300:#248db9;
    --primaryColor-400:#003f5e;
    --primarySecondary-100:#ffbfc2;
    --primarySecondary-200:#ff4126;
    --primarySecondary-300:#c10000;
    --textColorDark:#1E1E1E;
    --textColorMedium:#444444;
    --textColorLight:#999999;
    --colorDanger:#d00200;
    --colorSuccess:#22c55e;
    --colorWarning:#facc15;
    --primaryFont:'Vazirmatn';

}